* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.description {
    font-size: 16px;
    line-height: 26px;
    padding-top: 24px;
}

.btn-primary {
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    margin-top: 32px;
}

.section-padding {
    padding-top: 130px;
}


/* banner-styles */

.banner-section {
    height: 100vh;
    width: 100%;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner-contents {
    color: #ffffff;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 250px 230px;
}

.banner-description {
    width: 500px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}


/* banner-styles */


/* about-stules */

.about-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 300px;
}

.about-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    text-align: center;
}

.about-description-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #444343;
    text-align: left;
}

.about-description-title-right {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #444343;
    text-align: right;
}

.description-about {
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    padding-top: 24px;
}

.description-about-right {
    text-align: right;
    font-size: 16px;
    line-height: 26px;
    padding-top: 24px;
}

.about-img img {
    height: 500px;
    width: 400px;
}


/* about-stules */


/* failure-styles */

.failure-contents {
    display: flex;
    padding: 0 400px;
    gap: 100px;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #444343;
    padding-top: 200px;
}

.failure-right-contents {
    display: flex;
    align-items: center;
}

.failure-description {
    width: 400px;
}

.failure-description .description {
    color: #444343;
}

.slogan {
    padding-top: 16px;
}

.slogan-title {
    font-size: 16px;
    line-height: 36px;
    color: #444343;
}

.slogan i {
    color: #0CF25D;
}


/* failure-styles */


/* plans-styles */

.plans {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 100px 380px;
}

.plans-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    text-align: center;
}

.subject-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    padding-bottom: 16px;
}

.plans img {
    padding-bottom: 16px;
}

.subject-description {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}


/* plans-styles */


/* contact-styles */

.contact {
    padding-top: 50px;
    padding-bottom: 130px;
    padding-left: 355px;
    padding-right: 355px;
}

.contact-contents {
    height: 300px;
    width: 100%;
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    /* background-blend-mode: overlay; */
}

.contact-description {
    width: 500px;
    padding: 64px 60px;
}

.contact-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}


/* contact-styles */


/* footer-styles */

.footer-section {
    background: #151414;
    color: #F8F8F8;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 340px;
    padding: 80px 0;
}

.footer-description {
    width: 500px;
}

.subscribe {
    width: 350px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.mail {
    padding-top: 24px;
}

.phone {
    padding-top: 16px;
    padding-bottom: 30px;
}

.social-link a {
    padding-right: 20px;
}

.subscribe-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    padding-bottom: 30px;
}

.subscribe input {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 140px;
    color: #F8F8F8;
    border: 2px solid #F8F8F8;
    border-radius: 8px;
    background-color: #151414;
}

.subscribe input::placeholder {
    color: #F8F8F8;
    font-size: 16px;
}

.btn-subscribe {
    background-color: #005FAC;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
    font-weight: 600;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #F8F8F8;
    margin-top: 32px;
}


/* footer-styles */