* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.description {
    font-size: 16px;
    line-height: 26px;
    padding-top: 24px;
}

.btn-primary {
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    margin-top: 32px;
}

.section-padding {
    padding-top: 130px;
}


/* banner-styles */

.banner-section {
    height: 100vh;
    width: 100%;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner-contents {
    color: #ffffff;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 250px 230px;
}

.banner-description {
    width: 500px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}


/* banner-styles */


/* failure-styles */

.failure-contents {
    display: flex;
    padding: 0 400px;
    gap: 100px;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #444343;
    padding-top: 200px;
}

.failure-right-contents {
    display: flex;
    align-items: center;
}

.failure-description {
    width: 400px;
}

.failure-description .description {
    color: #444343;
}

.slogan {
    padding-top: 16px;
}

.slogan-title {
    font-size: 16px;
    line-height: 36px;
    color: #444343;
}

.slogan i {
    color: #0CF25D;
}


/* failure-styles */


/* plans-styles */

.plans {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 100px 380px;
}

.plans-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    text-align: center;
}

.subject-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    padding-bottom: 16px;
}

.plans img {
    padding-bottom: 16px;
}

.subject-description {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}


/* plans-styles */